@use 'variables' as *;

body {
  margin: 0;
  height: 2000px;
}

.icon-bar {
  position: fixed;
  top: 60%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  float: right;
  z-index: 9999;
  display: none;
}

.icon-bar a {
  display: block;
  text-align: center;
  padding: $spacing-md;
  transition: all 0.3s ease;
  color: $color-white;
  font-size: $font-size-base;
  margin: $spacing-sm !important;
}

.icon-bar a:hover {
  background-color: $color-nav-dark-hover;
}

.facebook {
  background: #3b5998;
  color: $color-white;
}

.twitter {
  background: #55acee;
  color: $color-white;
}

.google {
  background: #dd4b39;
  color: $color-white;
}

.linkedin {
  background: #007bb5;
  color: $color-white;
}

.youtube {
  background: #ee4545;
  color: $color-white;
}
.instagram {
  background: #ee4545;
  color: $color-white;
}
.pinterest {
  background: #d22735;
  color: $color-white;
}

@media screen and (max-width: 768px) {
  .icon-bar {
    display: none;
  }

  .icon-bar a {
    display: none;
    text-align: center;
    padding: $spacing-sm $spacing-md;
    transition: all 0.3s ease;
    color: $color-white;
    font-size: $font-size-base;
    margin: $spacing-sm !important;
  }
}
