// ============================================
// Variables
// ============================================
$primary-color: #378f86;
$secondary-color: #33d286;
$text-color: #000;
$border-color: #dee2e6;

// Form controls
.form-control {
  background-color: #fff !important;
  border-color: #dcdcdc !important;
  border-width: 1px !important;
  border-radius: 0 !important;
  padding: .75rem .75rem .5rem .75rem !important;
  font-size: 1rem !important;
  line-height: 1.5rem !important;
  font-weight: 500 !important;
  letter-spacing: 1px !important;
  padding-block-end: 8px !important;
  padding-block-start: 12px !important;
  padding-inline-end: 12px !important;
  padding-inline-start: 12px !important;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  &:focus {
    box-shadow: none;
  }
}

.required:after {
  content: "*";
  color: red;
}

// ============================================
// Modal Styles
// ============================================
.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999999;
  display: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  outline: 0;

  &-dialog {
    max-width: 500px;
    margin: 0rem auto;
    display: flex;
    align-items: center;
    min-height: calc(100% - 1rem);
    max-width: fit-content;
  }

  &-content {
    width: fit-content;
    background-color: #fff;
    max-height: 100vh;
    overflow-y: auto;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, .3);
    border-radius: 0px;
    border: 0px solid !important;
  }

  &-header {
    background-color: $primary-color;
    color: #fff;
    padding: .8rem 1rem .8rem 3rem;
    text-transform: uppercase;
  }

  &-body {
    padding: 2rem 3rem !important;
  }

  .checkout-summary h6 {
    color: #62646a !important;
  }

  label {
    display: inline-block;
    font-weight: 400;
    font-size: 15px;
    text-transform: uppercase;
    line-height: 1.5rem;
    letter-spacing: .1em;
  }
}
