.search-input-wrapper {
  position: relative;
  width: max-content;

  form {
    position: relative;
    display: flex;
    align-items: center;
  }

  .search-input {
    width: 170px;
    padding: 0.375rem 2rem 0.375rem 0.5rem;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #ced4da;
    background-color: transparent;
    box-shadow: none;
    outline: none;
    font-size: 1rem;
    color: #777;

    &::placeholder {
      color: #adb5bd;
    }
  }

  .search-icon-btn {
    position: absolute;
    right: 0.25rem;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    padding: 0.25rem;
    cursor: pointer;
    color: #777;

    &:disabled {
      opacity: 0.6;
      cursor: not-allowed;
    }

    &:hover:not(:disabled) {
      color: #555;
    }

    svg {
      display: block;
    }
  }
}
