<div class="cardcustomcss card">
  <!-- Carousel -->
  <div class="property-carousel">
    <div id="carousel-{{property.list_id}}" class="carousel slide">
      <!-- The slideshow/carousel -->
      <div class="carousel-inner">
        <div *ngFor="let image of displayImages; let i = index"
             class="carousel-item"
             [class.active]="i === currentSlideIndex">
          <a class="property-card__image-link"
             [routerLink]="['/property', property.list_id]"
             target="_blank">
            <img [src]="image.URLTxt"
                 [alt]="property.headline || property.city"
                 loading="lazy"
                 decoding="async"
                 class="img-fluid d-block w-100">
          </a>
        </div>
      </div>

      <!-- Left and right controls/icons -->
      <button class="carousel-control-prev" type="button" (click)="goToPrev()">
        <span class="carousel-control-prev-icon"></span>
      </button>
      <button class="carousel-control-next" type="button" (click)="goToNext()">
        <span class="carousel-control-next-icon"></span>
      </button>

      <!-- Favorite Icon -->
      <span class="matIcon">
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
          <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143q.09.083.176.171a3 3 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15"/>
        </svg>
      </span>

      <!-- Location Badges -->
      <div class="property-badge property-badge-left">
        <span class="fac-values">{{property.country || 'Not specified'}}</span>
      </div>
      <div class="property-badge property-badge-right">
        <span class="fac-values">{{property.state || 'Not specified'}}</span>
      </div>
    </div>
  </div>

  <div class="card-body property-card__body">
    <!-- Header: ID + City -->
    <div class="property-card__header">
      <div class="property-card__id">
        <div class="form-check">
          <input type="checkbox" class="form-check-input" [id]="'property-' + property.list_id">
          <label class="form-check-label property-card__id-label" [for]="'property-' + property.list_id">ID:</label>
        </div>
        <a target="_blank" [routerLink]="['/property', property.list_id]" class="property-card__id-value">{{property.list_id}}</a>
      </div>
      <h3 class="property-card__city">
        <a class="property-card__city-link" [routerLink]="['/property', property.list_id]">
          {{property.city || 'Not specified'}}
        </a>
      </h3>
    </div>

    <!-- Property details grid -->
    <div class="property-card__grid">
      <!-- Row 1: Type, Sleeps, Bedrooms (always visible) -->
      <div class="property-card__grid-row property-card__grid-row--triple">
        <div class="property-card__field">
          <div class="property-card__label">Type</div>
          <div class="property-card__value">{{property.property_type || 'Not specified'}}</div>
        </div>
        <div class="property-card__field">
          <div class="property-card__label">Sleeps</div>
          <div class="property-card__value">{{property.sleeps || 'Not specified'}}</div>
        </div>
        <div class="property-card__field">
          <div class="property-card__label">Bedrooms</div>
          <div class="property-card__value">{{property.bedrooms || 'Not specified'}}</div>
        </div>
      </div>

      <!-- Expanded rows -->
      <ng-container *ngIf="isPropertyExpanded">
        <!-- Row 2: ViewType (centered, full width) -->
        <div class="property-card__grid-row property-card__grid-row--single">
          <div class="property-card__field property-card__field--center">
            <div class="property-card__label">ViewType :</div>
            <div class="property-card__value">{{property.view_type || 'Not specified'}}</div>
          </div>
        </div>

        <!-- Row 3: Bathrooms, Pets, From Price -->
        <div class="property-card__grid-row property-card__grid-row--triple">
          <div class="property-card__field">
            <div class="property-card__label">Bathrooms</div>
            <div class="property-card__value">{{property.bathrooms || 'Not specified'}}</div>
          </div>
          <div class="property-card__field">
            <div class="property-card__label">Pets</div>
            <div class="property-card__value">{{property.petFriendly ? 'YES' : 'NO'}}</div>
          </div>
          <div class="property-card__field">
            <div class="property-card__label">From Price</div>
            <div class="property-card__value property-card__value--price">
              {{formatPrice(property.price_per_night)}}
            </div>
          </div>
        </div>

        <!-- Row 4: Destination -->
        <div class="property-card__grid-row property-card__grid-row--single">
          <div class="property-card__field property-card__field--center">
            <div class="property-card__label">Destination</div>
            <div class="property-card__value">{{property.RegionContinent || 'Not specified'}}</div>
          </div>
        </div>

        <!-- Row 5: Neighborhood/Community -->
        <div class="property-card__grid-row property-card__grid-row--single">
          <div class="property-card__field property-card__field--center">
            <div class="property-card__label">Neighborhood/Community</div>
            <div class="property-card__value">{{property.Neighborhood || 'Not specified'}}</div>
          </div>
        </div>
      </ng-container>
    </div>

    <!-- Expand/Collapse toggle -->
    <div class="property-card__toggle">
      <button class="property-card__toggle-btn" type="button" (click)="onToggleExpand()">
            {{isPropertyExpanded ? 'Less' : 'More Details'}}
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                 [class.bi-chevron-double-up]="isPropertyExpanded"
                 [class.bi-chevron-double-down]="!isPropertyExpanded"
                 viewBox="0 0 16 16">
              <path *ngIf="isPropertyExpanded" fill-rule="evenodd" d="M7.646 2.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 3.707 2.354 9.354a.5.5 0 1 1-.708-.708z"/>
              <path *ngIf="isPropertyExpanded" fill-rule="evenodd" d="M7.646 6.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 7.707l-5.646 5.647a.5.5 0 0 1-.708-.708z"/>
              <path *ngIf="!isPropertyExpanded" fill-rule="evenodd" d="M1.646 6.646a.5.5 0 0 1 .708 0L8 12.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708"/>
              <path *ngIf="!isPropertyExpanded" fill-rule="evenodd" d="M1.646 2.646a.5.5 0 0 1 .708 0L8 8.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708"/>
            </svg>
          </button>
        </div>
  </div>
</div>
