@use 'variables' as *;

.connectus-container {
    position: relative;
    text-align: center;
    color: $color-white;
    .overlay-effect {
        opacity: 1;
        cursor: pointer;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        transition: 0.5s ease;
        background-color: rgba($color-black, 0.6);
        overflow: hidden;
    }
    img {
        width: 100%;
        height: 650px !important;
        object-fit: cover;
    }
    .centered {
        position: absolute;
        top: 50%;
        left: 52%;
        width: 80%;
        transform: translate(-50%, -50%);
    }
    h3 {
        text-transform: none;
        letter-spacing: 1px;
        font-size: 53px;
        line-height: 72px;
        font-weight: 100;
        font-style: normal;
    }
    h5 {
        font-weight: 100;
        letter-spacing: 1px;
        font-size: 23px;
        line-height: 38px;
        text-transform: capitalize;
        font-style: normal;
    }
    .btn {
        color: $color-white;
        background: $color-secondary !important;
        background-color: $color-secondary !important;
        border-color: $color-secondary !important;
        font-weight: $font-weight-700;
        text-transform: uppercase;
        font-size: 14px;
        line-height: 26px;
        letter-spacing: 3px;
        border-radius: 0rem;
    }
    .btn:hover {
        background: $color-secondary !important;
        border-color: $color-secondary !important;
        color: $color-white;
        font-weight: $font-weight-700;
        text-transform: uppercase;
        box-shadow: $shadow-md;
        font-size: 14px;
        line-height: 26px;
        letter-spacing: 3px;
    }
    .contact-btn {
        background: $color-primary !important;
        background-color: $color-primary !important;
        color: $color-white !important;
        border-color: $color-primary !important;
        padding: 10px 20px;
        box-shadow: $shadow-sm;
        font-weight: $font-weight-600;
        text-transform: uppercase;
        font-size: 14px;
        line-height: 26px;
        letter-spacing: 3px;
        text-decoration: none;
        border: 0px !important;
        transition: 0.5s;
    }
    .contact-btn:hover {
        color: $color-success !important;
        background: $color-black !important;
        background-color: $color-black !important;
        box-shadow: $shadow-md;
    }
}
@media screen and (max-width: 768px) {
    .connectus-container {
        .centered {
            position: absolute;
            top: 50%;
            left: 52%;
            transform: translate(-50%, -50%);
        }
        img {
            width: 100%;
            height: 280px !important;
            object-fit: cover;
        }
        h3 {
            text-transform: none;
            letter-spacing: 1px;
            font-size: 24px;
            line-height: 26px;
            font-weight: 100;
            font-style: normal;
        }
        h5 {
            font-weight: 100;
            letter-spacing: 1px;
            font-size: 13px;
            line-height: 1rem;
            text-transform: capitalize;
            font-style: normal;
        }

        .btn {
            font-weight: $font-weight-700;
            text-transform: uppercase;
            font-size: 10px;
            line-height: 18px;
            letter-spacing: 2px;
            color: $color-white !important;
            background: $color-primary !important;
            background-color: $color-primary !important;
            border-color: $color-primary $color-primary $color-primary $color-primary !important;
        }
        .btn:hover {
            background-color: $color-black !important;
            color: $color-primary;
            font-weight: $font-weight-700;
            text-transform: uppercase;
            font-size: 10px;
            line-height: 18px;
            letter-spacing: 2px;
        }
    }
}