@use 'variables' as *;

/*FOOTER FEEDBACK*/
.feedback {
  .form-heading {
    letter-spacing: 5px;
    padding-left: 1.25rem;
  }
  .form-inquiries-title {
    padding-left: 1.25rem;
    font-size: 1rem;
  }
}
.card {
  background: transparent;
  border-radius: unset;
  .footer-contact-elements {
    &::placeholder {
      color: $color-placeholder !important;
      font-weight: $font-weight-400 !important;
      text-transform: uppercase;
    }
    input, textarea {
      background-color: $color-white !important;
      border-color: $color-border !important;
      border-width: 1px !important;
      border-radius: 0 !important;
      padding: .75rem .75rem .5rem .75rem !important;
      font-size: 1rem !important;
      line-height: 1.5rem !important;
      font-weight: 400 !important;
      letter-spacing: 1px !important;
      padding-block-end: 8px !important;
      padding-block-start: 12px !important;
      padding-inline-end: 12px !important;
      padding-inline-start: 12px !important;
      accent-color: $color-primary;
    }
  }
}
.btn {
  background-color: $color-primary !important;
  color: $color-white !important;
  padding: 10px 20px;
  box-shadow: $shadow-sm;
  font-weight: $font-weight-600;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 3px;
  text-decoration: none;
  border: 0px !important;
  transition: 0.5s;
  border-radius: 0px !important;
  margin-top: 1rem;
  margin-right: 6px;
  &:hover {
    color: $color-success !important;
    background: $color-nav-dark !important;
    background-color: $color-nav-dark !important;
    box-shadow: $shadow-md;
  }
}
.footer-review-sub-btn {
  background: $color-error !important;
  background-color: $color-error !important;
  color: $color-white !important;
  border-color: $color-error !important;
  transition: 0.5s;
}
input::placeholder, textarea::placeholder {
  opacity: 1;
  border-radius: 0rem !important;
  color: $color-placeholder !important;
  font-weight: $font-weight-400 !important;
  text-transform: uppercase !important;
  font-size: $font-size-base !important;
}

.sms-mms-consent .collapse:not(.show) {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  height: auto !important;
  max-width: calc(100% - 90px);
  white-space: nowrap;
  text-overflow: ellipsis;
}
.email-consent .collapse:not(.show) {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  height: auto !important;
  max-width: calc(100% - 90px);
  white-space: nowrap;
  text-overflow: ellipsis;
}
.sms-mms-consent .collapse, .email-consent .collapse {
  float: left;
}
.sms-mms-consent .collapsing, .email-consent .collapsing {
  min-height: 20px !important;
}
/*
.sms-mms-consent a.collapsed:after, .email-consent a.collapsed:after {
  content: '+ Read More';
}
.sms-mms-consent a:not(.collapsed):after, .email-consent a:not(.collapsed):after {
  content: '- Read Less';
}
*/
a.collapsed {
  color: $color-primary-light;
}
.sms-mms-consent a:hover, .sms-mms-consent a:active, .sms-mms-consent a:focus, .email-consent a:hover, .email-consent a:active, .email-consent a:focus {
  color: $color-primary-light;
  text-decoration: underline;
}
.opt-in-text-s {
  font-size: 12px;
  color: $color-text-light;
  padding: 4px 6px;
  label {
    display: block;
  }
}
@media screen and (max-width: 992px) {
  .footer-navs-header {
    padding-bottom: .5rem !important;
  }
  .col-md-6 {
    flex: 0 0 auto;
    width: 50%;
  }
}
@media screen and (max-width: 768px) {
  .form-heading {
    font-size: 28px;
    padding-top: 3rem;
  }
  .col-6 {
    -webkit-box-flex: 0;
    flex: 0 0 100%;
    max-width: 100%;
  }
}
@media screen and (max-width: 450px) {
  .col-md-6 {
    flex: 0 0 auto;
    width: 100%;
  }
}

