<div class="p-0 mb-2">
  <div class="feedback">
    <h3 class="form-heading">CONTACT US</h3>
    <h6 class="form-inquiries-title">General Inquiries</h6>
    <div class="card">
      <div class="card-body footer-contact-elements">
        <form action="">
          <div class="mb-3">
            <input  class="form-control" type="text" placeholder="Your name *">
            <div class="invalid-feedback">Name is required</div>
          </div>
          <div class="mb-3">
            <input  class="form-control" type="text" placeholder="Email address *">
            <div class="invalid-feedback">Email must be a valid email address</div>
          </div>
          <div class="mb-3">
            <input type="text" placeholder="Phone number (optional)" class="form-control">
            <div class="invalid-feedback">Enter a valid phone number.</div>
          </div>
          <div class="mb-3">
            <textarea name="message" id="message" rows="4" placeholder="Message *" class="form-control"></textarea>
            <div class="invalid-feedback">Message is required</div>
          </div>

          <div class="row">
            <div class="col-12 opt-in-text-s">
              <label for="SMS_MMS_Consent">
                <div class="sms-mms-consent">
                  <div class="collapse" id="sms-mms-consent">
                    <input type="checkbox" id="SMS_MMS_Consent" name="SMS_MMS_Consent" value="Bike" checked><span class="fw-bold"> SMS/MMS Consent: </span>
                    "I agree to receive text (SMS/MMS) messages from Destinique at the number provided. Messages will primarily be one-on-one conversations related to vacation rental inquiries, property availability, and notifications about quote updates. Occasional promotional messages may also be sent. Some messages may include images or videos. We do not share mobile opt-in information with third parties unrelated to Destinique. Message & data rates may apply. Message frequency varies. Text reply STOP to cancel. Reply HELP to get help."
                  </div>
                  <a class="collapsed" data-bs-toggle="collapse" href="#sms-mms-consent" aria-expanded="false" aria-controls="sms-mms-consent"></a>
                </div>
              </label>
            </div>
          </div>

          <div class="row">
            <div class="col-12 opt-in-text-s">
              <label for="Email_Consent">
                <div class="email-consent">
                  <div class="collapse" id="email-consent">
                    <input type="checkbox" id="Email_Consent" name="Email_Consent" value="Bike" checked><span class="fw-bold"> Email Consent:</span>
                    "I agree to receive emails from Destinique. Email Frequency varies and will include vacation rental updates, responses to questions, quotes, booking information, exclusive travel deals, and property recommendations. I understand I can unsubscribe at any time via the unsubscribe link in any email."
                  </div>
                  <a class="collapsed" data-bs-toggle="collapse" href="#email-consent" aria-expanded="false" aria-controls="email-consent"></a>
                </div>
              </label>
            </div>
          </div>
          <div class="row">
            <div class="col-12 opt-in-text-s">
              View our [<a target="_blank" [routerLink]="['/terms&conditions']">Terms of Service</a>] and [<a target="_blank" [routerLink]="['/privacypolicies']">Privacy Policy</a>].
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-12">
              <button class="btn btn-secondary mr-1" type="reset">Reset</button>
              <button class="btn btn-primary mr-1 footer-review-sub-btn">Submit</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
