.topbar {
    font-size: 14px;
    .dest-call {
        color: #e0e0e0;
        &:hover {
            color: #33d286;
        }
    }
}
.icon-1 {
    color: #fff;
}
.nav-whatsapp {
    width: 16px;
    margin: 6px;
}
.nav-search {
    width: 16px;
}
.nav-profile {
    width: 24px;
}
.nav-user {
    width: 16px;
    margin-right: 4px;
}
.nav-log-out {
    width: 16px;
    margin-right: 4px;
}
.nav-whatsapp-call {
    width: 26px;
    height: 26px;
}
.main-nav {
    background: #000 !important;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    height: 96px;
    font-family: Montserrat, sans-serif !important;
    .navbar-brand .logo {
        height: 156px;
        width: auto;
        position: relative;
        top: 24px;
        padding: 1rem;
        z-index: 99999;
    }
    #main-nav-items {
        z-index: 999;
        background-color: #000 !important;
    }
    .nav-link {
        color: #e0e0e0 !important;
        font-size: .85rem;
        letter-spacing: 1px;
        font-weight: 300;
        &:hover {
            color: #33d286 !important;
            text-decoration: underline;
        }
    }
    .nav-item:hover {
        cursor: pointer;
    }
    .user-btn {
        background-color: transparent;
        border: 0px;
        font-size: 1.5rem;
        padding-right: 0;
        margin-right: 0;
        top: -6px;
        position: relative;
    }

    .nav-search-box {
        background-color: transparent;
        color: #e0e0e0;
        border-left: 0px;
        border-right: 0px;
        border-top: 0px;
        border-radius: 0;
        font-size: 0.8rem;
        border-color: #e0e0e0;
        &::placeholder {
            color: #747474;
            opacity: 1;
        }
        &:focus {
            box-shadow: none;
            border-color: #e0e0e0;
        }
    }
    .nav-search-btn {
        background-color: transparent;
        border: 0px;
        border-bottom: 1px solid;
        border-radius: 0;
        color: #e0e0e0;
    }
    .input-group {
        min-width: 234px;
        margin-bottom: 14px;
    }
    .navbar-nav {
        &:first-child {
            width: 100%;
        }
        &:nth-child(2) {
            padding-right: 30px;
        }
    }
    .phone-contact {
        display: none;
    }
    .dropdown-menu-end {
        li a {
            padding: .6rem 1rem;
        }
        li:first-child {
            border-bottom: 1px solid #747474;
        }
    }
}
.dropdown-menu {
    background: #111;
    border-radius: 0;
    .dropdown-item {
        color: #fff;
        font-size: .85rem;
        font-weight: 300;
        padding: .4rem 1rem;
        letter-spacing: .025em;
        font-family: Montserrat, sans-serif !important;
        &:hover {
            background: #222;
            color: #33d286 !important;
        }
    }
    li {
        &:hover {
            background-color: #222 !important;
            color: #33d286 !important;
            text-decoration: underline;
        }
    }
}
@media (max-width: 1200px) {
    .main-nav {
        height: 80px;
    }
    .navbar-brand{
        max-height: 72px;
        width: calc(100% - 170px);
        .logo {
            height: 134px !important;
            top: 16px !important;
            margin: 0 auto;
        }
    }
    .container-fluid {
        background-color: #000;
        padding-left: 0px;
        padding-right: 0px;
    }
    .navbar-toggler {
        position: relative;
        top: -6px !important;
        margin-right: 30px;
        box-shadow: none;
        &:focus {
            box-shadow: none;
        }
        &:active {
            box-shadow: none;
        }
    }
    .nav-bars-solid {
        width: 30px;
    }
    .collapsed .nav-xmark, .navbar-toggler .nav-xmark {
        width: 30px;
        display: none;
    }
    .navbar-toggler[aria-expanded="true"]{
        .nav-xmark {
            display: block !important;
        }
        .nav-bars-solid {
            display: none;
        }
    }
    .navbar-nav {
        padding-left: 30px;
        padding-right: 30px;
        &:first-child {
            margin-top: 50px;
        }
        .dropdown-menu {
            position: absolute;
        }
    }
    .phone-contact {
        display: block !important;
        padding-bottom: .5rem!important;
    }
    .web-contact {
        display: none !important;
    }
}
@media (min-width: 992px) {
    .navbar-expand-xl .navbar-nav .dropdown-menu {
        top: 48px
    }
}
@media (max-width: 480px) {
    .navbar-toggler {
        margin-right: 0rem;
    }
    .ps-4 {
        padding-left: .5rem !important;
    }
    .navbar-brand {
        max-height: 50px;
    }
    .main-nav .navbar-brand .logo {
        height: 100px;
    }
    .navbar-brand .logo {
        top: 10px !important;
    }
    .navbar-brand .logo {
        height: 106px !important;
    }
    .main-nav {
        height: 58px;
    }
}
