<!-- MAIN NAVBAR -->
<nav class="navbar navbar-expand-xl main-nav bg-dark navbar-dark">
    <div class="container-fluid">

        <!-- CONTACT -->
        <div class="topbar justify-content-end align-items-center ps-4 text-white phone-contact">
            <a href="https://wa.me/18503125400" target="blank" class="dest-call">
                <img class="nav-whatsapp-call" src="assets/icons/phone-volume-solid.svg" alt="call">
            </a>
        </div>

        <!-- LOGO -->
        <a class="navbar-brand d-flex align-items-center" [routerLink]="['/']"
           (click)="closeMobileMenu()">
            <img src="assets/dest-images/assets/logo.webp"
                 width="224"
                 height="122"
                 alt="Destinique"
                 class="logo"
                 fetchpriority="high">
        </a>

        <!-- MOBILE TOGGLE -->
        <button class="navbar-toggler" type="button"
                (click)="isMenuCollapsed = !isMenuCollapsed"
                [attr.aria-expanded]="!isMenuCollapsed"
                aria-label="Toggle navigation">
            <!-- Custom toggle icons -->
            <img *ngIf="isMenuCollapsed" class="nav-bars-solid" src="assets/icons/bars-staggered-solid.svg" alt="menu">
            <img *ngIf="!isMenuCollapsed" class="nav-xmark" src="assets/icons/xmark-solid.svg" alt="close">
        </button>

        <!-- MENU -->
        <div class="navbar-collapse position-relative"
             [class.collapse]="isMenuCollapsed"
             [class.show]="!isMenuCollapsed">
            <ul class="navbar-nav mb-2 mb-lg-0">

                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/']" routerLinkActive="active"
                       (click)="closeMobileMenu()">HOME</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/destinations']" routerLinkActive="active"
                       (click)="closeMobileMenu()">DESTINATIONS</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/properties']" routerLinkActive="active"
                       (click)="closeMobileMenu()">DESTINIQUE COLLECTION</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/contact']" routerLinkActive="active"
                       (click)="closeMobileMenu()">CONTACT US</a>
                </li>

                <!-- DROPDOWN - FIXED -->
                <li class="nav-item" ngbDropdown>
                    <!-- Changed from <a> to <button> to prevent navigation -->
                    <button class="nav-link dropdown-toggle btn btn-link" ngbDropdownToggle
                            (click)="$event.preventDefault()">
                        MORE
                    </button>
                    <div class="dropdown-menu" ngbDropdownMenu>
                        <a [routerLink]="['/map']" class="dropdown-item" ngbDropdownItem
                           (click)="closeMobileMenu()">MAP</a>
                        <a [routerLink]="['/promotions']" class="dropdown-item" ngbDropdownItem
                           (click)="closeMobileMenu()">PROMOS</a>
                        <a target="_blank" href="https://blog.destinique.com" class="dropdown-item" ngbDropdownItem
                           (click)="closeMobileMenu()">BLOG</a>
                        <a [routerLink]="['/our-services']" class="dropdown-item" ngbDropdownItem
                           (click)="closeMobileMenu()">LUXURY SERVICES</a>
                        <a [routerLink]="['/testimonials']" class="dropdown-item" ngbDropdownItem
                           (click)="closeMobileMenu()">TESTIMONIAL</a>
                        <a [routerLink]="['/aboutus']" class="dropdown-item" ngbDropdownItem
                           (click)="closeMobileMenu()">ABOUT US</a>
                    </div>
                </li>
            </ul>

            <ul class="navbar-nav mb-2 mb-lg-0 ms-auto">
                <li class="nav-item">
                        <!-- TOP CONTACT BAR - Desktop only -->
                        <div class="topbar d-flex justify-content-end align-items-center ps-4 py-2 text-white web-contact">
                            <a href="https://wa.me/18503125400" target="blank" class="dest-call">
                                <img class="nav-whatsapp" src="assets/icons/whatsapp-brands-solid.svg" alt="whatsapp"> +1-850-312-5400
                            </a>
                        </div>

                        <div class="d-flex align-items-center">
                            <form
                              (ngSubmit)="search()"
                              class="form-inline end-0"
                              autocomplete="off"
                            >
                              <div class="input-group me-2">
                                  <input [(ngModel)]="propertyNumber" name="propertyNumber" type="text" class="form-control nav-search-box" placeholder="SEARCH BY PROPERTY ID">
                                  <button class="btn btn-success nav-search-btn" type="submit">
                                      <img class="nav-search" src="assets/icons/magnifying-glass-solid.svg" alt="search">
                                  </button>
                              </div>
                            </form>
                            <!-- USER DROPDOWN - FIXED -->
                            <div ngbDropdown class="dropdown" placement="bottom-end">
                                <button type="button" class="btn btn-primary dropdown-toggle user-btn" ngbDropdownToggle
                                        (click)="$event.preventDefault()">
                                    <img class="nav-profile" src="assets/icons/circle-user-regular.svg" alt="profile">
                                </button>
                                <div class="dropdown-menu dropdown-menu-end" ngbDropdownMenu>
                                    <!-- Show when logged in -->
                                    <ng-container *ngIf="isLoggedIn; else loginSection">
                                        <a class="dropdown-item" href="#" ngbDropdownItem
                                           (click)="closeMobileMenu()">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-plus" viewBox="0 0 16 16"> <path d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0m4 8c0 1-1 1-1 1H1s-1 0-1-1 1-4 6-4 6 3 6 4m-1-.004c-.001-.246-.154-.986-.832-1.664C9.516 10.68 8.289 10 6 10s-3.516.68-4.168 1.332c-.678.678-.83 1.418-.832 1.664z"/> <path fill-rule="evenodd" d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5"/> </svg>
                                            PROFILE ({{userInitial}})
                                        </a>
                                        <a class="dropdown-item" href="#" ngbDropdownItem
                                           (click)="logout(); $event.preventDefault()">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 640 640"><path d="M224 160C241.7 160 256 145.7 256 128C256 110.3 241.7 96 224 96L160 96C107 96 64 139 64 192L64 448C64 501 107 544 160 544L224 544C241.7 544 256 529.7 256 512C256 494.3 241.7 480 224 480L160 480C142.3 480 128 465.7 128 448L128 192C128 174.3 142.3 160 160 160L224 160zM566.6 342.6C579.1 330.1 579.1 309.8 566.6 297.3L438.6 169.3C426.1 156.8 405.8 156.8 393.3 169.3C380.8 181.8 380.8 202.1 393.3 214.6L466.7 288L256 288C238.3 288 224 302.3 224 320C224 337.7 238.3 352 256 352L466.7 352L393.3 425.4C380.8 437.9 380.8 458.2 393.3 470.7C405.8 483.2 426.1 483.2 438.6 470.7L566.6 342.7z"/></svg>
                                            LOG OUT
                                        </a>
                                    </ng-container>

                                    <!-- Show when NOT logged in -->
                                    <ng-template #loginSection>
                                        <a class="dropdown-item" href="#" ngbDropdownItem
                                           (click)="openLoginModal(); $event.preventDefault()">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 640 640"><path d="M416 160L480 160C497.7 160 512 174.3 512 192L512 448C512 465.7 497.7 480 480 480L416 480C398.3 480 384 494.3 384 512C384 529.7 398.3 544 416 544L480 544C533 544 576 501 576 448L576 192C576 139 533 96 480 96L416 96C398.3 96 384 110.3 384 128C384 145.7 398.3 160 416 160zM406.6 342.6C419.1 330.1 419.1 309.8 406.6 297.3L278.6 169.3C266.1 156.8 245.8 156.8 233.3 169.3C220.8 181.8 220.8 202.1 233.3 214.6L306.7 288L96 288C78.3 288 64 302.3 64 320C64 337.7 78.3 352 96 352L306.7 352L233.3 425.4C220.8 437.9 220.8 458.2 233.3 470.7C245.8 483.2 266.1 483.2 278.6 470.7L406.6 342.7z"/></svg>
                                            LOG IN
                                        </a>
                                        <a class="dropdown-item" [routerLink]="['/register']" ngbDropdownItem
                                           (click)="closeMobileMenu()">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 640 640"><path d="M136 192C136 125.7 189.7 72 256 72C322.3 72 376 125.7 376 192C376 258.3 322.3 312 256 312C189.7 312 136 258.3 136 192zM48 546.3C48 447.8 127.8 368 226.3 368L285.7 368C384.2 368 464 447.8 464 546.3C464 562.7 450.7 576 434.3 576L77.7 576C61.3 576 48 562.7 48 546.3zM544 160C557.3 160 568 170.7 568 184L568 232L616 232C629.3 232 640 242.7 640 256C640 269.3 629.3 280 616 280L568 280L568 328C568 341.3 557.3 352 544 352C530.7 352 520 341.3 520 328L520 280L472 280C458.7 280 448 269.3 448 256C448 242.7 458.7 232 472 232L520 232L520 184C520 170.7 530.7 160 544 160z"/></svg>
                                            REGISTER
                                        </a>
                                    </ng-template>
                                </div>
                            </div>
                        </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
