@use 'variables' as *;

.login-content {
    background-color: $color-white;
    padding: 0;
    margin: 0;
}
.col-lg-6 {
    padding: 0;
    margin: 0;
}
.log-in-info {
    background-image: url(/assets/website_images/login/loginBG.webp);
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}
.close {
    font-size: 32px;
    font-weight: $font-weight-700;
    line-height: 1;
    color: $color-black;
    background-color: transparent;
    cursor: pointer;
    padding: 0rem 1rem;
    margin: 1px;
    width: 100%;
    text-align: right;
}
::ng-deep .close {
    border: none;
    background: $color-black;
}

.mobile-v {
    display: none;
}
.log-in-destinique-logo-sec {
    width: 100%;
}
.log-in-destinique-logo {
    padding: 30px 30px 0px 30px;
    height: 130px;
    width: auto;
    margin: 0 auto;
    display: block;
}
.log-in-destinique-text {
    line-height: 25px;
    letter-spacing: 13px;
    font-size: 24px;
    font-style: normal;
    font-weight: $font-weight-600;
    font-family: $font-family-base !important;
    text-transform: uppercase;
    color: $color-white;
    text-align: center;
    padding-left: 12px;
    margin-top: 1rem;
}
.log-in-destinique-sub-text {
    font-weight: $font-weight-400 !important;
    color: $color-white;
    text-align: center;
    font-size: 14px;
    letter-spacing: 2.4px;
}
.log-in-desc-info {
    padding: 3rem 1.5rem 1.5rem 1.5rem;
}
.log-in-desc-info p {
    color: $color-white;
    font-size: $font-size-sm;
    line-height: 1.25rem;
}
.loginModal {
    border: 0px solid rgba($color-black, 0);
}
.loginPopup {
    box-shadow: $shadow-sm, $shadow-md;
}
.loginPopup .form-row .form-group a {
    color: $color-error;
}
.loginPopup .form-row .form-group {
    text-align: center;
}
.modal-header {
    border-top-left-radius: 0rem;
    border-top-right-radius: 0rem;
    padding: .5rem 0rem 0rem 1rem !important;
    border: 0px;
}
.login-modal-header {
    background-color: $color-white !important;
    color: $color-text-muted;
}
.login-modal-body {
    background-color: $color-white !important;
    width: auto;
    color: $color-black;
    padding-top: .5rem;
}
#exampleModalLongTitle {
    text-align: center !important;
    width: 100%;
    font-size: 21px;
    line-height: 2rem;
}
.form-input {
    position: relative;
}
.form-input input {
    background-color: $color-white !important;
    border-color: $color-border !important;
    width: 100%;
    padding: .75rem .75rem .5rem .75rem;
    margin-top: 1rem;
    box-sizing: border-box;
    box-shadow: none;
    border: 1px solid $color-border;
    border-radius: 0px;
    outline: none;
    font-size: 15px;
    line-height: 1.5rem;
    color: $color-text-muted;
    letter-spacing: 1.5px;
    accent-color: $color-primary;
}
.form-input span {
    position: absolute;
    top: 10px;
    padding-left: 15px;
    color: $color-primary;
}
.form-input input::placeholder {
    color: $color-placeholder;
    padding-left: 0px;
}
.form-input input:focus,
.form-input input:valid {
    border: 1px solid $color-border;
}
.form-input input:focus::placeholder {
    color: $color-placeholder;
}
.btn-primary {
    background-color: $color-primary;
    color: $color-white;
    border-color: $color-primary;
    padding: 6px 20px;
    box-shadow: $shadow-sm;
    font-weight: $font-weight-600;
    font-size: 14px;
    line-height: 26px;
    letter-spacing: 3px;
    text-decoration: none;
    transition: 0.5s;
    border-radius: 0px;
    text-transform: uppercase;
}
.btn-primary:hover {
    background-color: $color-black;
    color: $color-success;
    border-color: $color-black;
}
.recover-user-url {
    text-decoration: underline;
    text-decoration-color: $color-error;
    cursor: pointer;
}
#recoverID {
    color: $color-error !important;
    font-size: 13px !important;
    border-color: $color-error !important;
    margin-top: 24px;
    margin-bottom: 0;
    text-align: center;
}
.modal-footer {
    justify-content: center;
    background-color: $color-white;
    border-bottom-left-radius: 0rem;
    border-bottom-right-radius: 0rem;
}
.register-link {
    color: $color-primary !important;
    cursor: pointer;
}

@media screen and (max-width: 991px) {
    .close {
        padding-right: 8px;
    }
    .mobile-v {
        display: block;
    }
    .login-modal-header {
        display: none;
    }
    #exampleModalLongTitle {
        margin-top: 1rem;
    }
    .login-content .col-lg-6 {
        margin-top: -1px;
    }
}
@media screen and (max-width: 768px) {
    .modal-body {
        padding: 1rem 0rem;
    }
}

/*Consent*/
.opt-in-text-s {
    font-size: 12px;
    color: $color-text-muted;
    max-width: 500px;
    text-align: justify;
    padding: 4px 6px;
}
.read-more-sms-mms-consent .collapse:not(.show) {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    height: auto !important;
    max-width: calc(100% - 80px);
    white-space: nowrap;
    text-overflow: ellipsis;
}
.read-more-email-consent .collapse:not(.show) {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    height: auto !important;
    max-width: calc(100% - 80px);
    white-space: nowrap;
    text-overflow: ellipsis;
}
.read-more-sms-mms-consent .collapse, .read-more-email-consent .collapse {
    float: left;
}
.read-more-sms-mms-consent .collapsing, .read-more-email-consent .collapsing {
    min-height: 20px !important;
}

/*
.read-more-sms-mms-consent a.collapsed:after, .read-more-email-consent a.collapsed:after {
    content: '+ Read More';
}
.read-more-sms-mms-consent a:not(.collapsed):after, .read-more-email-consent a:not(.collapsed):after {
    content: '- Read Less';
}
*/

a.collapsed, .read-more-sms-mms-consent a, .read-more-email-consent a {
    color: $color-primary !important;
}
.read-more-sms-mms-consent a:hover, .read-more-sms-mms-consent a:active, .read-more-sms-mms-consent a:focus, .read-more-email-consent a:hover, .read-more-email-consent a:active, .read-more-email-consent a:focus {
    color: $color-primary-light;
    text-decoration: underline;
}
.f-w-b {
    font-weight: $font-weight-700;
}
label, .form-row {
    display: block;
}
input {
    accent-color: $color-primary;
}
.btn-block {
    display: block;
    width: 100%;
}
@media (max-width: 600px) {
    .opt-in-text-s {
        padding: 2px 15px;
    }
}


//User badge
// User badge styling
.user-initial-badge {
  display: inline-block;
  width: 32px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  background-color: $color-white;
  color: $color-info;
  border-radius: 50%;
  font-weight: $font-weight-700;
  font-size: 14px;
}

// In dropdown header
.user-initial-large {
  display: inline-block;
  width: 48px;
  height: 48px;
  line-height: 48px;
  text-align: center;
  background-color: $color-info;
  color: $color-white;
  border-radius: 50%;
  font-weight: $font-weight-700;
  font-size: 20px;
  margin: 0 auto;
}

// Make dropdown menu wider
.dropdown-menu {
  min-width: 250px;
}

.dropdown-header {
  padding: 10px 15px;
  white-space: normal;
}

// Profile icon alignment
.dropdown-item svg {
  width: 16px;
  height: 16px;
  margin-right: 8px;
}
