.contact-header-container {
    position: relative;
    text-align: center;
    color: #002245;
}
.contact-header-container .overlay-effect {
    opacity: 1;
    cursor: pointer;
}
img {
    width: 100%;
    height: 400px !important;
}
.centered {
    position: absolute;
    top: 47%;
    left: 49%;
    width: 100%;
    transform: translate(-50%, -50%);
}
h2 {
    font-size: 36px;
    color: rgb(255, 255, 255);
}
.contact-banner-header {
    font-size: 3rem;
    line-height: 1.5;
    font-weight: 300;
    letter-spacing: 10px;
    text-align: center;
    text-transform: uppercase;
}
@media (max-width: 992px) {
    .contact-banner-header {
        font-size: 2rem;
    }
}
@media (max-width: 769px) {
    .centered {
        position: absolute;
        top: 47%;
        left: 49%;
        width: 100%;
        transform: translate(-50%, -50%);
    }
}
@media (max-width: 768px) {
    img {
        width: 100%;
        height: 200px !important;
    }
    h2 {
        font-size: 24px;
    }
    .contact-banner-header {
        font-weight: 200;
        text-transform: uppercase;
        letter-spacing: 4px;
        text-align: center !important;
        font-size: 1.5rem;
    }
}
@media (max-width: 468px) {
    .centered {
        position: absolute;
        top: 30%;
        left: 0;
        width: 100%;
        transform: none;
        margin: 0 auto;
    }
}
@media screen and (max-width: 400px) {
    .contact-banner-header  {
        font-size: 1.2rem;
    }
}


/*body*/
.contact-form {
    max-width: 1050px;
    color: #000;
    padding: 5rem;
    background-color: #efefef;
    margin-top: 3rem;
    margin-bottom: 3rem;
    border: 1px solid #ddd;
}
.contact-form input, .multiselect-dropdown span.dropdown-btn, .contact-form select, .contact-form textArea {
    background-color: #fff !important;
    border-color: #E0E0E0 !important;
    border-width: 1px !important;
    border-radius: 0 !important;
    padding: .75rem .75rem .5rem .75rem !important;
    font-size: 1rem !important;
    line-height: 1.5rem !important;
    font-weight: 400 !important;
    letter-spacing: 1px !important;
    padding-block-end: 8px !important;
    padding-block-start: 12px !important;
    padding-inline-end: 12px !important;
    padding-inline-start: 12px !important;
    accent-color: #378f86;

}
.contact-form ::placeholder {
    color: #aaa !important;
    font-weight: 400 !important;
    text-transform: uppercase;
}
.lbl-head {
    font-weight: 500;
    color: #fff;
    font-size: 36px;
}
.title-color {
    color: #002245 !important;
}
.title-color span, .contact-form-note span {
    color: red !important
}
.contact-welcome-text {
    letter-spacing: .025em;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    padding-top: 1.5rem;
    padding-bottom: 2.5rem;
}
.contact-form-note {
    text-align: left;
    font-size: 12px;
    margin-bottom: 2rem !important;
}
.flex-column {
    flex-direction: column !important;
}
.lbl {
    font-weight: 400;
    color: #fff;
    font-size: 1rem;
    text-transform: uppercase;
    line-height: 1.5rem;
    letter-spacing: .1em;
}
.invalid-feedback {
    font-size: 0.9rem;
    display: none;
    width: 100%;
    margin-top: .25rem;
    color: #dc3545;
}
.form-control {
    color: #000000;
    font-size: 1rem;
    border: 1px solid #002245;
}
.no-border {
    border: none;
    padding-top: 1rem;
}
label {
    display: inline-block;
    margin-bottom: .5rem;
}
.contact-btn-right {
    justify-content: right;
}
.btn-secondary {
    background-color: #378f86 !important;
    color: #fff !important;
    padding: 10px 20px;
    box-shadow: 0 2px 6px 1px rgba(20, 20, 20, 0.48);
    font-weight: 600;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 26px;
    letter-spacing: 3px;
    text-decoration: none;
    border: 0px !important;
    transition: 0.5s;
    border-radius: 0px !important;
}
.contact-submit-btn {
    background: #e63946 !important;
    background-color: #e63946 !important;
    color: #fff !important;
    border-color: #e63946 !important;
    transition: 0.5s;
}
.btn:hover {
    color: #33d286 !important;
    background: #000 !important;
    background-color: #000 !important;
    box-shadow: 0 4px 14px 0 rgba(5, 5, 5, 0.47);
}
.mr-2, .mx-2 {
    margin-right: .5rem !important;
}
@media (max-width: 1048px) {
    .contact-form {
        max-width: 1050px;
        color: #000;
        padding: 5rem;
        background-color: #efefef;
        margin-top: 0rem;
        margin-bottom: 0rem;
        border: 1px solid #ddd;
    }
}
@media only screen and (max-width: 768px) {
    .contact-form {
        max-width: 1050px;
        color: #000;
        padding: 2rem;
        background-color: #efefef;
        margin-bottom: 2rem;
        border: 1px solid #ddd;
    }
    .lbl-head {
        font-weight: 500;
        color: #fff;
        font-size: 20px;
    }
    .contact-btn-right {
        justify-content: left;
    }
}
@media (max-width: 576px) {
    .lbl {
        font-size: 14px;
    }
}

/*consent*/
.opt-in-text-s {
    font-size: 12px;
    color: #555;
    margin-bottom: 1rem;
    label {
        display: block;
    }
}
.sms-mms-consent .collapse:not(.show) {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    height: auto !important;
    max-width: calc(100% - 90px);
    white-space: nowrap;
    text-overflow: ellipsis;
}
.sms-mms-consent .collapse, .email-consent .collapse {
    float: left;
}
.sms-mms-consent .collapsing, .email-consent .collapsing {
    min-height: 20px !important;
}
.sms-mms-consent a.collapsed:after, .email-consent a.collapsed:after {
    content: '+ Read More';
}
.sms-mms-consent a:not(.collapsed):after, .email-consent a:not(.collapsed):after {
    content: '- Read Less';
}
a.collapsed {
    color: #6fccc2;
}
.sms-mms-consent a:hover, .sms-mms-consent a:active, .sms-mms-consent a:focus, .email-consent a:hover, .email-consent a:active, .email-consent a:focus {
    color: #6fccc2;
    text-decoration: underline;
}
.opt-in-text-s input {
    background-color: #fff !important;
    border-color: #E0E0E0 !important;
    border-width: 1px !important;
    border-radius: 0 !important;
    padding: .75rem .75rem .5rem .75rem !important;
    font-size: 1rem !important;
    line-height: 1.5rem !important;
    font-weight: 400 !important;
    letter-spacing: 1px !important;
    padding-block-end: 8px !important;
    padding-block-start: 12px !important;
    padding-inline-end: 12px !important;
    padding-inline-start: 12px !important;
    accent-color: #378f86;
}
.email-consent .collapse:not(.show) {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    height: auto !important;
    max-width: calc(100% - 90px);
    white-space: nowrap;
    text-overflow: ellipsis;
}