@use 'variables' as *;

a {
    text-decoration: none !important;
}
a:hover {
    text-decoration: underline !important;
}
.destination-container {
    position: relative !important;
}
.promo-banner {
    text-align: center;
    color: $color-secondary;
    margin-bottom: $spacing-md;
}
.promo-banner img {
    width: 100%;
    height: 400px !important;
    vertical-align: middle;
    border-style: none;
    border: 0px;
    padding: 0px;
}
.promo-banner .centered {
    position: absolute;
    top: 200px;
    left: 49%;
    width: 100%;
    transform: translate(-50%, -50%);
}
.promo-banner .destination-banner-header {
    font-size: 3rem;
    line-height: 1.5;
    font-weight: 300;
    letter-spacing: 10px;
    text-align: center;
    text-transform: uppercase;
}
.promo-banner h2 {
    font-size: 36px;
    color: $color-white;
}
.centered {
    margin: 0 auto;
}
.destination-summary {
    font-size: 1.2rem;
    line-height: 1.5rem;
    font-weight: 300;
    justify-content: center;
    color: $color-white;
    padding-left: 9rem;
    padding-right: 9rem;
    margin-bottom: $spacing-2xl;
    padding-top: $spacing-md;
}


/*body*/
.destinations #destinations-tab .browse-all-destinations-column {
    background-color: #fffcf6;
}

.destinations .destination-heading {
    background-color: #fffcf6;
    border-bottom: 1px solid #d2c3a4;
    padding: 30px 18px;
}
.destinations .destination-heading h3 {
    font-size: 26px;
    line-height: 100%;
    color: #b7872d;
    margin-bottom: 0;
}
.destinations #destinations-tab .nav-pills .nav-link[aria-selected="false"] {
    color: #0d0d0d;
    background-color: #fffcf6;
    box-shadow: none;
}
.destinations-list {
    list-style-type: none;
    line-height: 1.75;
    padding: 0;
    margin: 0;
}
.destinations-list .location {
    font-size: 0.8rem;
    list-style-type: none;
    text-indent: 10px;
    line-height: 1.65;
    text-decoration: none;
}
.destinations #destinations-tab .nav-pills .nav-link {
    border-bottom: 0px solid #d2c3a4;
    padding-top: $spacing-sm;
    padding-bottom: $spacing-sm;
    padding-left: 3rem;
    padding-right: $spacing-md;
}
.destinations #destinations-tab .nav-pills .nav-link .properties {
    font-weight: $font-weight-400;
    font-size: 16px;
    line-height: 19px;
    color: #d2c3a4;
    min-width: 125px;
}
.destinations #destinations-tab .tab-pane-body .destinations-list {
    margin-bottom: 0;
    margin-left: $spacing-lg;
    margin-top: 0rem;
}
.destinations-list {
    list-style-type: none;
    line-height: 1.75;
    padding: 0;
    margin: 0;
}
.destinations
#destinations-tab
.tab-pane-body
.destinations-list
.destination-title {
    margin-bottom: .5rem;
    cursor: pointer;
}
.destinations #destinations-tab .tab-pane-body .destinations-list .location {
    margin-bottom: $spacing-lg;
    cursor: pointer;
}
.destinations-list .location {
    font-size: 12.6px;
    list-style-type: none;
    text-indent: 10px;
    line-height: 1.65;
    text-decoration: none;
}
.destinations-list span {
    padding-right: 2px;
    font-size: $font-size-base;
    color: $color-black;
    font-weight: $font-weight-700;
}
.destinations-list li > a {
    text-decoration: none;
}
.scrollSec {
    height: -webkit-fill-available;
    overflow-y: auto;
    padding: 0;
}
.scrollSec::-webkit-scrollbar {
    scrollbar-width: none;
}
.destination-relative {
    cursor: pointer;
    position: relative;
    height: 210px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* Optional: Add placeholder/loading state */
    background-color: #f0f0f0;
}

/* When image loads, fade it in */
.destination-relative.loaded {
    animation: fadeIn 0.5s ease;
}

@keyframes fadeIn {
    from {
        opacity: 0.5;
    }
    to {
        opacity: 1;
    }
}
.destination-img-overlay {
    bottom: 0;
    padding: 0;
    opacity: 1;
    filter: alpha(opacity = 0);
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .2);
    color: #333;
    display: table !important;
    position: absolute;
    transition: all .3s ease-in-out;
    text-align: center;
}
.destination-img-overlay:hover {
    bottom: 0;
    padding: 0;
    opacity: 1;
    filter: alpha(opacity = 0);
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .7);
    color: #333;
    display: table !important;
    position: absolute;
    transition: all .3s ease-in-out;
    text-align: center;
    cursor: pointer;
}
.active-destination .destination-img-overlay {
    bottom: 0;
    padding: 0;
    opacity: 1;
    filter: alpha(opacity = 0);
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .7);
    color: #333;
    display: table !important;
    position: absolute;
    transition: all .3s ease-in-out;
    text-align: center;
}
.active-destination .destination-img-overlay .destination-name {
    color: $color-white !important;
}
.destination-name {

    font-size: 1.8rem;
    color: $color-white;
    position: absolute;
    top: 34%;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    font-weight: 300;
}
.property-number {
    font-size: 1.4rem;
    line-height: 2.5rem;
    letter-spacing: $letter-spacing-wider;
    font-weight: 300;
    justify-content: center;
    align-items: center;
}
.total-property-number {
    bottom: $spacing-sm;
    right: $spacing-sm;
    position: absolute;
    color: $color-white;
    padding-top: .2rem;
    padding-bottom: .2rem;
    padding-left: $spacing-md;
    padding-right: $spacing-md;
    border: 2px solid $color-white;
    background-color: rgba(0, 0, 0, .3);
}
.property-text {
    font-size: .6rem;
    line-height: 1rem;
    letter-spacing: $letter-spacing-wider;
    font-weight: $font-weight-600;
    justify-content: center;
    align-items: center;
}
.destination-row {
    padding-top: 13px;
    padding-bottom: $spacing-lg;
    padding-left: $spacing-lg;
}
.row.destination-row ul li {
}
.destination-area {
    margin-bottom: $spacing-xl;
    overflow: hidden;
}
.destination-usa .state-name {
    padding-top: 2.5rem;
    width: 100%;
    clear: both;
}
.destination-usa .state-name:first-child {
    padding-top: 0rem !important;
    clear: both !important;
}
.destination-usa .state-name a {
    color: $color-black;

    font-size: $font-size-base;
    font-weight: $font-weight-500 !important;
    line-height: 1.75rem;
    text-transform: capitalize;
}
.destination-usa .city-name a {
    font-weight: $font-weight-400 !important;
}
.country-name a{
    color: $color-primary;

    font-size: 1.5rem;
    font-weight: $font-weight-500 !important;
    line-height: 1.75rem;
}
.country-name {
    clear: both;
}
.state-name {
    padding-top: $spacing-sm;
    float: left;
    position: relative;
    width: 100%;
}

.state-name a {
    color: $color-black;

    font-size: $font-size-base;
    font-weight: $font-weight-400 !important;
    line-height: 1.75rem;
    text-transform: capitalize;
    svg {
        height: 12px;
        width: 12px;
    }
}
.total-property-available-in-state {
    font-size: $font-size-sm;
    color: $color-black;
    padding: 2px 8px;
    border-radius: $border-radius-lg;
    border: 1px solid #9d9d9d;
    position: relative;
    top: -1px;
}
.city-area .city-name {
    float: left;
    position: relative;
    width: 33.333333%;
    svg {
        height: 14px;
    }
}
.total-property-available-in-country {
    font-size: $font-size-base;
    background-color: $color-primary;
    color: $color-white;
    padding: 3px 12px;
    border-radius: 15px;
    position: relative;
    top: -3px !important;
}
.total-property-available-in-city {
    font-size: .88rem;
    color: $color-black;
    padding: 1px 8px;
    border-radius: $border-radius-lg;
    border: 1px solid #9d9d9d;
    position: relative;
    top: -1px;
}
.city-name a {
    color: $color-text-muted;

    font-size: $font-size-base;
    font-weight: $font-weight-400;
    line-height: 1.75rem;
    text-transform: capitalize;
}
.row {
    margin-left: 0px;
    margin-right: 0px;
}
.col-md-6,
.col-md-12 {
    padding-left: 0px;
    padding-right: 0px;
}
.overlay {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    transition: 0.5s ease;
    opacity: 1;
    color: $color-white;
    padding: 0px;
    text-align: center;
}
img {
    padding: 1.5px;
}
.active-destination {
    color: #b7872d !important;
    background-color: $color-white !important;
    box-shadow: none !important;
}
ul li,
ol li {
    font-weight: $font-weight-400;
    letter-spacing: 0.01em;
    line-height: 22px;
}
ul li > a {
    font-weight: $font-weight-400;
}
ul {
    list-style-type: none !important;
    padding-left: $spacing-lg;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: transparent;
}
@media (max-width: 992px) {

    .promo-banner .destination-banner-header {
        font-size: 2rem;
    }
    .destinations #destinations-tab .nav-pills .nav-link {
        padding-left: $spacing-md;
    }
}
@media screen and (min-width: 900px) and (max-width:1244px) {
    .destination-name {
        font-size: 1.4rem;
    }
}
@media (max-width: 991.98px) {
    .destination-summary {
        font-size: 1.1rem;
        line-height: 1.5rem;
        font-weight: 300;
        justify-content: center;
        color: $color-white;
        padding-left: $spacing-md;
        padding-right: $spacing-md;
        margin-bottom: $spacing-lg;
    }
}
@media (max-width: 767px) {
    .city-area .city-name {
        width: 50%;
    }
}
@media (max-width: 576px) {
    .city-area .city-name {
        width: 100%;
    }
}
@media (max-width: 380px) {
    .promo-banner .destination-banner-header {
        font-size: 1.5rem;
    }
}

