hr {
    border-color: #378f86;
    margin-top: 0rem;
    margin-bottom: 0rem;
}
.container-fluid {
    background-color: #f0f0f0 !important;
    .ss-txt {
        text-align: center;
        vertical-align: middle;
        margin-top: 60px;
        margin-bottom: 100px;
    }
    h3 {
        font-size: 53px;
        line-height: 72px;
        font-weight: 300;
        letter-spacing: 1px;
        padding-bottom: 1rem;
        text-align: center;
        color: #3b3b3b;
    }
}
.seeAllBtn {
    background: #378f86 !important;
    background-color: #378f86 !important;
    color: #fff !important;
    border-color: #378f86 !important;
    padding: 14px 20px;
    box-shadow: 0 2px 6px 1px rgba(20, 20, 20, 0.48);
    font-weight: 600;
    font-size: 14px;
    line-height: 26px;
    letter-spacing: 3px;
    text-decoration: none;
    border: 0px !important;
    transition: 0.5s;
    &:hover{
        color: #33d286 !important;
        background: #000 !important;
        background-color: #000 !important;
        box-shadow: 0 4px 14px 0 rgba(5, 5, 5, 0.47);
    }
}
#ss-slider {
    padding: 100px;
    background-image: url("https://destinique.com/assets/website_images/home/ourreviews/review.webp");
    background-repeat: no-repeat;
    background-size: cover;
    .carousel-item {
        transition: transform .0s ease-in-out;
        height: 440px;
        font-size: 20px;
        font-weight: 300;
        line-height: 30px;
        letter-spacing: 1px;
        text-transform: none;
        color: #fff;
    }
    .carousel-item-next, .carousel-item-prev, .carousel-item.active {
        display: flex;
    }
    .carousel-item-container {
        display: block;
        .carousel-icon {
            margin-top: 2rem;
            p {
                font-weight: 100;
                letter-spacing: 1px;
                font-size: 30px;
                line-height: 38px;
                text-transform: capitalize;
                font-style: normal;
                color: #fff;
            }
            svg {
                margin-right: .5rem;
                height: 30px;
                width: 30px;
            }
        }
    }
}
@media screen and (max-width: 992px) {
    h3 {
        font-size: 3rem;
        font-weight: 400;
    }
}
@media screen and (max-width: 768px) {
    .carousel-item {
        font-size: 16px;
    }
    #ss-slider {
        padding: 60px;
    }
}
@media screen and (max-width: 410px) {
    #ss-slider .carousel-item {
        font-size: 16px;
        line-height: 20px;
    }
}