<FilesMatch "\.(js|css|png|jpg|jpeg|gif|webp|svg|ico)$">
  Header set Cache-Control "public, max-age=31536000, immutable"
</FilesMatch>
# --- Cache Fonts for 1 Year ---
<FilesMatch "\.(woff|woff2|ttf|otf)$">
    Header set Cache-Control "public, max-age=31536000, immutable"
</FilesMatch>

<FilesMatch "\.(html)$">
  Header set Cache-Control "no-cache"
</FilesMatch>

